{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% if member_list and member_list.0.object %}
{% include "membership/membership_queryset_inline.html" %}
{% else %}
{% include "membership/membership_object_list_inline.html" %}
{% endif %}

<script type="text/javascript">
/**
 * Saves preapprove-cart contents. (Preapproves selected members that are in
 * state "New".)
 */
function preapprove () {
  var ids = [];
  $("#preapprovable_cart").children().each(function (idx, object) {
    var id = $(object).attr("id");
    ids.push(id);
  });
  for (var idx in ids) {
    var id = ids[idx];
    // foo, here?
  }
  for (var idx in ids) {
    var id = ids[idx];
    jQuery.post("../handle_json/", '{"requestType": "PREAPPROVE", "payload": ' + id + '}', function (data) { $("#" + data).remove()});
  }
}

/**
 * Adds details to member list items. Also adds a preapprove cart and buttons
 * if the class preapprovable is found from the list item.
 */
var cartCreated = false;
$("#member_list").children().each(function (idx, object) {
  var item = enhanceMemberItem($(object));
  addMemberDetails(item);
  
  if ($(object).hasClass("preapprovable")) {
    if (!cartCreated) {
      var cart = $("<div>").addClass("cart");
      cart.append($("<h3>").html("{% trans "Pre-approvable cart" %}"));
      cart.append($("<ul>").attr("id", "preapprovable_cart"));
      cart.append($("<input type=\"submit\" value=\"{% trans "Preapprove these" %}\" onclick=\"preapprove()\">"));
      $("#member_list").after(cart);
      cartCreated = true;
    }
    preapproveify(item);
  }
});

</script>
{% endblock %}
